.DS_Store
._*

# Files that might appear on external disk
node_modules
bower_components
npm-debug.log

# Floobits
.floo
.floobit
.flooignore

# Mac stuff
.DS_Store

# New York City
.nyc_output

# Coverage directory used by tools like istanbul
coverage
mochawesome-reports

# Local development
*.env
*.dev
client/dist
