/**************************************************
*  GLOBAL VARIABLES - will be empty in output.css *
***************************************************/

$primaryBlue: hsla(212, 75%, 55%, 1);
$secondaryBlue: hsla(212, 80%, 42%, 1);
$primaryOrange: hsla(10, 86%, 56%, 1);
$white: hsla(0, 0%, 100%, 1);
$red: hsla(0, 100%, 50%, 1);
$black: hsla(0, 0%, 0%, 1);
$accentGray: hsla(0, 0%, 70.98%, 1);
$lightGray: hsla(0, 0%, 87%, 1);


/*******************************
*            GLOBALS           *
********************************/

nav {
  padding: 0 1rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.show {
  display: inherit !important;
}

.preloader-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.idc-orange {
  background-color: $primaryOrange;
}

.errorClass {
  color: $red;
}

.Select {
  margin: 2rem 0;
}