/*******************************
*              HOME            *
********************************/

#add-room-button {
  margin-top: -12px;
}

.toggle-buttons {
  margin: 2.5rem auto;
}

.rooms-section-icons:before {
  font-size: 1.5rem;
}

.add-room-button:before,  .view-cal-events-button:before {
  font-size: 2rem;
  color: $white;
}

.rooms-section-icons:before {
  color: $secondaryBlue;
}

.rooms-section-icons:hover:before {
  color: $primaryBlue;
  cursor: pointer;
}

/* label color */
 .input-field label {
   color: $accentGray;
 }

 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: $accentGray;
 }

 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid $secondaryBlue;
   box-shadow: 0 1px 0 0 $secondaryBlue;
 }

/*******************************
*           Room List          *
********************************/

.room-list {
  color: $black;
}