 /*******************************
*       Intermediary Page      *
********************************/

.intermediary-header {
  margin: 3rem 0;
}

.intermediary-section section .collection {
  max-height: 25vh;
}

section.row {
  margin-bottom: .5rem;
}