 /*******************************
*        Interview Page        *
********************************/

#interviewPageContainer {
  position: absolute;
  height: 100%;
  width: 100%;
}

#elementToShare {
  height: 800px;
  /*width: 800px;*/
}

#promptContainer {
  padding: 10px;
}

#codeBoardContainer {
  height: 650px;
}

/*#interview-side-panel {
  width: 400px;
}*/

#interviewerControls {
  padding: 15px 15px 0px 15px;
}

#recordingIndicator {
  margin-top: 10px;
}

#videos-container {
  padding: 5px;
}

a.powered-by-firepad {
  display: none;
}

/*******************************
*          Whiteboard          *
********************************/

#whiteboard {
  height: 82%;
}

#whiteboardOptions {
  width: 100%;
}

#whiteboardOptions button, #whiteboardOptions select {
  height: 3rem;
  width: 4em;
  display: inline-block;
}